
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#interaccion {
    margin: 20px auto;
    padding: 15px;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#buscarCredito {
    padding: 10px;
    width: 60%;
    font-size: 16px;
}

#ordenarCredito {
    padding: 10px 20px;
    margin-left: 10px;
}